In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.shape

(60943, 12)

In [5]:
# Question 1 

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

#pd.DataFrame(lst, column=['age', 'Nationality', 'Overall'], index=[1,2,3])

pd.DataFrame(lst, columns=col, index=[1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [6]:
# Question 2

In [8]:
# Question 3
#no code required

In [9]:
# Question 4 How would you check for the number of rows and columns in a pandas DataFrame named df? 
df.shape

(60943, 12)

In [10]:
# Question 5 What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [11]:
# Question 6 Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [12]:
# Question 7 Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

# How would you assign element 8 from the list to a variable x?
x = y[2][-1]
x

9

In [13]:
# Question 8 Which of these python data structures is unorderly?

# Ans: Set

In [14]:
# Question 9 A pandas Dataframe with dimensions (100,3) has how many features and observations?
# no code

In [15]:
# Question 9 A pandas Dataframe with dimensions (100,3) has how many features and observations?
# No code

In [17]:
# Question 12 What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [18]:
# Question 13 What is the total number and percentage of missing data in 2016 to 2 decimal places?

df.Y2016.isnull().sum()

#work out percentage

1535

In [19]:
# Question 14 Which year had the highest correlation with ‘Element Code’?

In [26]:
# Question 15 What year has the highest sum of Import Quantity? 
# Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [21]:
# Question 16 What is the total number of the sum of Production in 2014?
# Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [22]:
#Question 17
#Which of these elements had the highest sum in 2018?

#Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [23]:
#Question 17
#Which of these elements had the highest sum in 2018?

# Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [27]:
# Question 19 What is the total Import Quantity in Algeria in 2018?

In [25]:
df.Area.value_counts()

Kenya                          1560
Egypt                          1488
Nigeria                        1474
Côte d'Ivoire                  1467
Senegal                        1462
Cameroon                       1460
Uganda                         1458
Zambia                         1451
Ethiopia                       1447
Malawi                         1447
Madagascar                     1439
Mozambique                     1427
Rwanda                         1426
Angola                         1424
United Republic of Tanzania    1419
Congo                          1413
Guinea                         1410
Burkina Faso                   1409
Niger                          1403
South Africa                   1399
Morocco                        1393
Zimbabwe                       1393
Botswana                       1378
Mauritius                      1378
Ghana                          1354
Central African Republic       1344
Chad                           1343
Tunisia                        1338
Sudan                          1316
Algeria                        1313
Togo                           1294
Mali                           1293
Benin                          1285
Eswatini                       1284
Namibia                        1283
Cabo Verde                     1260
Gabon                          1245
Sierra Leone                   1242
Liberia                        1206
Mauritania                     1195
Sao Tome and Principe          1177
Gambia                         1168
Lesotho                        1150
Guinea-Bissau                  1128
Djibouti                       1095
Seychelles                       68
Sudan (former)                   53
Comoros                          45
Ethiopia PDR                     39
Name: Area, dtype: int64